* {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  color: var(--white-color-100);
}

h1 {
  font-size: var(--h1-font-size-sm);
  font-weight: var(--heading-font-weight);

  @media (width > 768px) {
    font-size: var(--h1-font-size);
  }
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--heading-font-weight);

  i {
    font-size: inherit;
  }
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--heading-font-weight);
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--heading-font-weight);
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--heading-font-weight);
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--heading-font-weight);
}

p {
  font-size: var(--paragraph-font-size);
  line-height: var(--default-line-height);
}